/* ------------ 清除自带样式 ------------------------------------------------------------ */
body {
  margin: 0;
  padding: 0;
}

/* ------------要求他们的父元素高度撑开，并且是有相对定位 ------------------------------------ */
#EasyGuideWrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100001;
  overflow: hidden;
}
#EasyGuideWrap .div-show-exit {
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 4px 10px;
  font-size: 15px;
  cursor: pointer;
}
#EasyGuideCanvasId {
  display: block;
}
#EasyGuideDivContainerId {
  height: 0;
}
#EasyGuideDivContainerId .e_guide-item {
  position: absolute;
  top: 300px;
  width: 200px;
  height: 100px;
  left: calc(50vw - 100px);
  z-index: 99999;
  cursor: move;
  box-shadow: 0 0 0 1px #ff8a2b;
}
#EasyGuideDivContainerId .e_guide-item .e_dot-common {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #ff8a2b;
  cursor: row-resize;
}
.e_dot-common::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  background: transparent;
}
#EasyGuideDivContainerId .e_guide-item .e_dot-top {
  top: -5px;
  left: calc(50% - 6px);
}
#EasyGuideDivContainerId .e_guide-item .e_dot-right {
  right: -5px;
  top: calc(50% - 6px);
  cursor: col-resize;
}
#EasyGuideDivContainerId .e_guide-item .e_dot-bottom {
  bottom: -5px;
  left: calc(50% - 6px);
}
#EasyGuideDivContainerId .e_guide-item .e_dot-left {
  left: -5px;
  top: calc(50% - 6px);
  cursor: col-resize;
}
#EasyGuideDivContainerId .e_guide-item .e_guide-content {
  position: absolute;
  left: 15px;
  bottom: calc(100% + 12px);;
  min-width: 220px;
  max-width: 320px;
  min-height: 90px;
  padding: 10px;
  border-radius: 3px;
  font-size: 14px;
  box-shadow: 0 1px 10px rgba(0,0,0,.4);
  background-color: white;
  z-index: 99999;
  cursor: default;
}
#EasyGuideDivContainerId .e_guide-item .e_guide-content .e_guide-content-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
#EasyGuideDivContainerId .e_guide-item .e_guide-content .e_guide-content-btn button {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  border-radius: 2px;
  padding: 1px 6px;
}
#EasyGuideDivContainerId .e_guide-item .e_guide-content .e_guide-content-btn button:focus {
  outline: none;
}
#EasyGuideDivContainerId .e_guide-item .e_guide-content .e_guide-content-btn .e_edit-btn {
  background: #ff8a2b;
  color: white;
}
#EasyGuideDivContainerId .e_guide-item .e_guide-content .e_guide-content-btn .e_delete-btn {
  margin-right: 8px;
  border: 1px solid #d9d9d9;
  color: rgba(0,0,0,.65);
}
.e_guide-content::before {
  content: '';
  position: absolute;
  bottom: -10px;
  border: 5px solid white;
  border-top-color: white;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent
}
#EasyGuideDivContainerId .e_top-step-number {
  box-sizing: content-box;
    position: absolute;
    top: -16px;
    left: -16px;
    z-index: 9999999999 !important;
    padding: 2px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    background: #ff3019;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,.4);
}
#EasyGuideTemplateId {
  position: fixed;
  left: calc(100vw - 250px);
  top: 100px;
  width: 200px;
  font-size: 14px;
  background-color: white;
}
#EasyGuideTemplateId .e_template-close-btn {
  position: absolute;
  right: 0;
  top: -30px;
  height: 18px;
  width: 20px;
  padding-bottom: 2px;
  color: white;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
}
#EasyGuideTemplateId .e_template-close-btn::after {
  position: absolute;
  content: '';
  width: 1px;
  background: white;
  height: 25px;
  height: 9px;
  bottom: -9px;
  left: 10px;
}
#EasyGuideTemplateId .e_template-top-text {
  text-align: center;
  padding: 15px 0;
  cursor: move;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#EasyGuideTemplateId .e_template-list {
  background: #d9d9d9;
  margin: 0;
  overflow: hidden;
}
#EasyGuideTemplateId .e_template-list > div {
  position: relative;
  background: #fff;
  margin: 16px 12px;
  text-align: center;
}
/* #EasyGuideTemplateId .e_template-close-btn {}
#EasyGuideTemplateId .e_template-close-btn {} */


/* ------------ 查看模式样式 --------------------------------------------------------------- */
.bar-lib-common {
  position: absolute;
  height: auto;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100002;
}
.bar-lib-top {
  top: 0;
  left: 0;
  right: 0;
}
.bar-lib-left {
  left: 0;
}
.bar-lib-right {
  right: 0;
}
.bar-lib-bottom {
  left: 0;
  right: 0;
  bottom: 0;
}
.e_step-content-box {
  position: absolute;
  /* visibility: hidden; */
  min-width: 340px;
  background: #eff6ff;
  border-radius: 2px;
  padding: 12px;
  z-index: 100003;
}
.e_step-content-box .box-content {
  min-height: 60px;
  width: 100%;
}
.content-footer {
  text-align: right;
}
.content-footer .box-pre-btn {
  margin-right: 7px;
  background: #fff;
  border: 1px solid #4f7de7;
  border-radius: 2px;
  color: #4f7de7;
  transition: all 0.2s;
}
.content-footer .box-next-btn {
  background: #4f7de7;
  border: 1px solid #4f7de7;
  outline: none;
  border-radius: 2px;
  color: white;
  transition: all 0.2s;
}
.content-footer .box-pre-btn button:focus {
  outline: none;
}
.content-footer .box-pre-btn button:hover {
  transform: scale(1.02);
  transition: all 0.2s;
}

/* ------------ 业务小样式 --------------------------------------------------------------- */
.e_disable-body-selected {
  -webkit-user-select: none;
  user-select: none;
}

.e_lock-scroll {
  position: fixed;
}

.e_position-relative {
  position: relative !important;
}
